@using UserAwards.PL.WEB.Modules
@{
    Layout = "~/_Layout.cshtml";
}

<div class="row">
    <div class="col"></div>
    <div class="col-8 text-center mainGroups">
        <h1>Пользователи</h1>
        <div class="col-12" id="usersList">
            @RenderPage("~/Pages/_usersListPartial.cshtml")
            @RenderPage("~/Pages/_addButtonPartial.cshtml")
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-8 text-center mainGroups">
        <h1>Награды</h1>
        <div class="col-12" id="awardsList">
            @RenderPage("~/Pages/_awardsListPartial.cshtml")
            @RenderPage("~/Pages/_addButtonPartial.cshtml")
        </div>
    </div>
    <div class="col"></div>
</div>

@RenderPage("~/Pages/_modalItemAddPartial.cshtml")